<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>

    <add connectionString="Provider=Microsoft.Jet.OLEDB.4.0;
                           Data Source=C:\Users\Vladimir\source\repos\ADO.NET_hw_lesson1\DataBase\accessDb_00.mdb;
                           Persist Security Info=False;"
         name="TestOleDbConnection"/>

    <add connectionString="Driver={Microsoft Access Driver (*.mdb)};
                           Dbq=C:\Users\Vladimir\source\repos\ADO.NET_hw_lesson1\DataBase\accessDb_00.mdb;
                           Uid=Admin;
                           Pwd=;"
         name="TestOdbcConnection"/>

    <add connectionString="Server=VLADIMIR\SQLEXPRESS;
                           Database=MCS;
                           User Id=ova;
                           Password=123;
                           Connection Timeout=35;"
     name="TestSqlConnection"/>

    <add connectionString="Data Source=myOracleDB;User Id=/;"
     name="TestOracleClient"/>
    
  </connectionStrings>
  
</configuration>